**/.env
!.env.example
docker-compose.yml
/frankenphp-config
/frankenphp-data
/app/bootstrap/cache/*
!/app/bootstrap/cache/.gitignore
/app/node_modules
/app/public/build
/app/public/hot
/app/vendor/
/app/storage/*
!/app/storage/framework
!/app/storage/framework/cache
!/app/storage/framework/sessions
!/app/storage/framework/views
!/app/storage/logs
!/app/storage/app/public
/app/database
/app/.editorconfig
/nginx/logs
