**/.env
!.env.example
docker-compose.yml
/frankenphp-config
/frankenphp-data
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/node_modules
/public/build
/public/hot
/vendor/
/storage/*
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
!/storage/framework/testing
!/storage/logs
!/storage/app/public
/database/*.sqlite
!/database/migrations/
!/database/seeders/
!/database/factories/
.editorconfig